<h1>State List</h1>

<p>here is a list of states...</p>

<!-- iterate through each state in the array and put them into list items individually -->

<select>
	<% @states.each do | state | %>
		<%# this works but it's too much repetition. add an if block inline %>
		<option value= <%= state["id"] %> <% if state["id"] == "IL" %> selected <% end %>> <%= state["state"] %> </option>
	<% end %>
</select>
