<h1>State List</h1>

<p>here is a list of states...</p>

<!-- iterate through each state in the array and put them into list items individually -->

<select>
	<% @states.each do | state | %>
		<% if state["id"] == "IL" %>
			<option value= <%= state["id"] %> selected> <%= state["state"] %> </option>
		<% else %>
			<option value= <%= state["id"] %> > <%= state["state"] %> </option>
		<% end %>
	<% end %>
</select>